.grid-create-user {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,100px);
}

.grid-create-user div {
  line-height: 60px;
  padding: 0px 10px 0px 0px;
}