.combo-options-user {
  position: fixed;
  top: 70px;
  right: 10px;
  transition: 0.5s;
}

.card-main-content {
  width: 200px !important;
  background: transparentize($color: rgba(253, 253, 253, 0.46), $amount: 0.4) !important;
  box-shadow: 1px 1px 1px !important;
}
.card-content {
  padding: 14px 0px !important;
}

.feed-content {
  display: flex !important;
  justify-content: flex-end !important;
  padding: 5px 40px 5px 0px;
  cursor: pointer;
}

.feed-content:hover {
  background-color: #355aae !important;
}

.content-404 {
  width: 100%;
  height: calc(100vh - 120px);
}

.view-index {
<<<<<<< HEAD
    display: flex;
    align-items: center;
=======
  display: flex;
  align-items: center;
}

.main-form .fields.inline .field {
  display: flex;
  align-items: center;
  width: 100%;

  .checkbox {
    width: 100%;

    label {
      font-size: 12px;
      font-weight: 700;
      padding-left: 0;

      &:before,
      &:after {
        left: auto;
        right: -27px;
      }
    }
  }

  .to-start {
    align-self: start;
  }

  h5.informative-field {
    margin: 0;
    font-weight: 400;
    font-size: 13px !important;
  }

  label {
    margin-right: 10px !important;
    width: calc(230px - 10px) !important;
  }

  textarea,
  .input,
  .selection,
  .react-datepicker-wrapper {
    width: 300px !important;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  &.disabled {
    opacity: 1;

    label {
      opacity: 1;
    }
  }
>>>>>>> 73ec8d1f0b3ec1840a377a7770dbd97cf1f8f8fb
}
